SERVER_PORT=8443
SERVER_TLS_ENABLED=true
SERVER_TLS_CERT_FILE=certs/local.crt
SERVER_TLS_KEY_FILE=certs/local.key
SERVER_BENCH_MODE=false
SERVER_REQUEST_TIMEOUT=2000
SERVER_IO_THREADS=0
SERVER_SESSION_TIMEOUT_SEC=20
