[submodule "modules/core"]
    path = modules/core
    url = git@github.com-vix:vixcpp/core.git
    branch = dev

[submodule "modules/utils"]
    path = modules/utils
    url = git@github.com-vix:vixcpp/utils.git
    branch = dev

[submodule "modules/cli"]
    path = modules/cli
    url = git@github.com-vix:vixcpp/cli.git
    branch = dev

[submodule "modules/json"]
    path = modules/json
    url = git@github.com-vix:vixcpp/json.git
    branch = dev

[submodule "modules/orm"]
    path = modules/orm
    url = git@github.com-vix:vixcpp/orm.git
    branch = dev

[submodule "modules/websocket"]
    path = modules/websocket
    url = git@github.com-vix:vixcpp/websocket.git
    branch = dev

[submodule "modules/middleware"]
    path = modules/middleware
    url = git@github.com-vix:vixcpp/middleware.git
    branch = dev

[submodule "modules/p2p"]
    path = modules/p2p
    url = git@github.com-vix:vixcpp/p2p.git
    branch = dev

[submodule "modules/net"]
    path = modules/net
    url = git@github.com-vix:vixcpp/net.git
    branch = dev

[submodule "modules/sync"]
    path = modules/sync
    url = git@github.com-vix:vixcpp/sync.git
    branch = dev

[submodule "modules/cache"]
    path = modules/cache
    url = git@github.com-vix:vixcpp/cache.git
    branch = dev

[submodule "modules/db"]
    path = modules/db
    url = git@github.com-vix:vixcpp/db.git
    branch = dev

[submodule "modules/p2p_http"]
    path = modules/p2p_http
    url = git@github.com-vix:vixcpp/p2p_http.git
    branch = dev

[submodule "third_party/asio-src"]
    path = third_party/asio-src
    url = git@github.com-vix:chriskohlhoff/asio.git
[submodule "modules/async"]
	path = modules/async
	url = git@github.com-vix:vixcpp/async.git
	branch = dev
