[submodule "modules/core"]
    path = modules/core
    url = https://github.com/vixcpp/core.git
    branch = dev

[submodule "modules/utils"]
    path = modules/utils
    url = https://github.com/vixcpp/utils.git
    branch = dev

[submodule "modules/cli"]
    path = modules/cli
    url = https://github.com/vixcpp/cli.git
    branch = dev

[submodule "modules/json"]
    path = modules/json
    url = https://github.com/vixcpp/json.git
    branch = dev

[submodule "modules/orm"]
    path = modules/orm
    url = https://github.com/vixcpp/orm.git
    branch = dev

[submodule "modules/websocket"]
	path = modules/websocket
	url = https://github.com/vixcpp/websocket.git
	branch = dev
[submodule "modules/middleware"]
	path = modules/middleware
	url = https://github.com/vixcpp/middleware.git
	branch = dev
[submodule "modules/p2p"]
	path = modules/p2p
	url = git@github.com:vixcpp/p2p.git
	branch = dev
[submodule "modules/net"]
	path = modules/net
	url = https://github.com/vixcpp/net.git
	branch = dev
[submodule "modules/sync"]
	path = modules/sync
	url = https://github.com/vixcpp/sync.git
	branch = dev
[submodule "modules/cache"]
	path = modules/cache
	url = https://github.com/vixcpp/cache.git
	branch = dev
